<!-- out.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.name }}</td>
            <td>{{ producto.price }}</td>
            <td>{{ producto.quantity }}</td>
            <td>
                <!-- Enlace para eliminar el producto -->
                <a href="{{ url_for('delete_product', id=producto.id) }}">Eliminar</a> |
                <!-- Enlace para editar el producto -->
                <a href="{{ url_for('edit_product', id=producto.id) }}">Modificar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('home') }}">Agregar otro producto</a>
</body>
</html>
